@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: 'IBM Plex Mono';
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
}

p {
  font-family: 'IBM Plex Mono';
}

button {
  width: 220px;
  height: 65px;
  border-radius: 10px;
  font-family: 'IBM Plex Mono';
  font-weight: 600;
}

button.dark {
  background: linear-gradient(132.05deg, rgba(255, 255, 255, 0.2) 9.09%, rgba(255, 255, 255, 0.05) 75.51%);
  backdrop-filter: blur(40px);
  color: white;
}

.glass-effect {
  background: linear-gradient(132.05deg, rgba(255, 255, 255, 0.2) 9.09%, rgba(255, 255, 255, 0.05) 75.51%);
  backdrop-filter: blur(40px);
}

.string-bg {
  background: url('assets/images/background/home-left.png') no-repeat bottom right;
  background-size: cover;
}

.purple {
  background: linear-gradient(179.83deg, #7500D4 0.15%, rgba(231, 45, 156, 0) 154.2%);
}

.circle {
  position: absolute;
  border-radius: 50%;
}
